.board {
    display: grid;
    justify-content: center;
    overflow: hidden;
    grid-template-rows: repeat(20, var(--cell-size));
    grid-template-columns: repeat(20, var(--cell-size));
    grid-gap: 1px;
    background-color: beige;
}

.boundary {
    background-color: black;
}

.head {
    background-color: var(--snake-head-color)
}

.body {
    background-color: var(--snake-body-color)
}

.empty {
    background-color: var(--empty-color);
}